<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
 
    <add name="conn" connectionString="Server=fa8e6ffd-4c23-4632-8c01-a4a200eb626f.sqlserver.sequelizer.com;Database=dbfa8e6ffd4c2346328c01a4a200eb626f;User ID=zftpjwveasmprtqg;Password=84mLRsdmMn5nRTTYwu28aRctxQNA75ZuyFD8BLtLiH7i7LAp8Mnu3Lpq2ZnaLJnQ;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
